<meta http-equiv="Cache-Control" content="max-age=300">
<form method="GET" action="/">
	<input type="text" name="track_id" placeholder="ID трека" value="{{ search_params.track_id }}">
	<input type="text" name="track_name" placeholder="Название трека" value="{{ search_params.track_name }}">
	<input type="text" name="album" placeholder="Альбом" value="{{ search_params.album }}">
	<input type="text" name="artist" placeholder="Исполнитель" value="{{ search_params.artist }}">
	<input type="text" name="genre" placeholder="Жанр" value="{{ search_params.genre }}">
	<button type="submit">Поиск</button>
	<a href="/">Сбросить</a>
  </form>
  
  <table>
	{% for row in data %}
	<tr>
	  <td>{{ row[0] }}</td>
	  <td>{{ row[1] }}</td>
	  <td>{{ row[2] }}</td>
	  <td>{{ row[3] }}</td>
	  <td>{{ row[4] }}</td>
	</tr>
	{% endfor %}
  </table>
  